{% extends "main.html" %}
{% import "macros.html" as utils %}

{% block page_content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}">{{message}}</div>
    {% endfor %}
{% endif %}
{% endwith %}


<br>

<form class="form-horizontal" role="form" method="post">
  {{form.hidden_tag()}}

  {{ utils.form_field(form.name, form_type="horizontal", 
  horizontal_columns=('sm',3,8), ph="Dagger") }}

  <div class="reference_fields">

      <div class="form-group {% if form.references.errors %} has-error{% endif %}">
          <label class="control-label col-sm-3" for="references-0-book">Book</label>
          <div class="col-sm-4">
            {{ form.references[0].book(class="form-control", placeholder="Player's Handbook I") }}
          </div>

          <label class="control-label col-sm-1" for="references-0-page">Page</label>
          <div class="col-sm-2">
            {{ form.references[0].page(class="form-control", placeholder="116") }}
          </div>

          <button type="button" class="btn btn-success add_reference_button">
            <span class="glyphicon glyphicon-plus"></span>
          </button>

          {% for entry in form.references %}
            {{ utils.errors_for_field(entry.book, horizontal_columns=('sm',3,8), form_type="horizontal") }}
            {{ utils.errors_for_field(entry.page, horizontal_columns=('sm',3,8), form_type="horizontal") }}
          {% endfor %}

    </div>

    <!--More fields will go here-->

  </div>

  {{ utils.form_field(form.weight, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="1", units="lbs") }}

  {{ utils.form_field(form.value, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="2", units="gp") }}

  <div class="form-group">
    <h4 class="control-label col-sm-3">
      <small>WEAPON FEATURES</small>
    </h4>
  </div>

  <div class="form-group">
    {{ form.weapon_types.label(class="control-label col-sm-3") }}
    <div class="col-offset-3 col-sm-3">
      {{ utils.form_field(form.weapon_types.unarmed, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.light, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.melee, form_type="inline") }}
    </div>
    <div class="col-offset-6 col-sm-3">
      {{ utils.form_field(form.weapon_types.one_handed, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.two_handed, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.ranged, form_type="inline") }}
    </div>
    <div class="col-offset-9 col-sm-3">
      {{ utils.form_field(form.weapon_types.simple, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.martial, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.exotic, form_type="inline") }}
    </div>
  </div>

  <div class="damage_fields">
    
      <div class="form-group {% if form.damage.errors %} has-error{% endif %}">
          <label class="control-label col-sm-3" for="damage-0-amount">Damage</label>
          <div class="col-sm-2">
            <input class="form-control" id="damage-0-amount" name="damage-0-amount" placeholder="1d4" type="text" value="">
          </div>

          <label class="control-label col-sm-1" for="damage-0-dmg_type">Type</label>
          <div class="col-sm-4">
            <input class="form-control" id="damage-0-dmg_type" name="damage-0-dmg_type" placeholder="piercing/slashing" type="text" value="">
          </div>

          <button type="button" class="btn btn-success add_damage_button">
            <span class="glyphicon glyphicon-plus"></span>
          </button>

          {% for entry in form.damage %}
            {{ utils.errors_for_field(entry.amount, horizontal_columns=('sm',3,8), form_type="horizontal") }}
            {{ utils.errors_for_field(entry.type, horizontal_columns=('sm',3,8), form_type="horizontal") }}
          {% endfor %}
    </div>

    <!--More fields will go here-->

  </div>

  {{ utils.form_field(form.critical, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="19-20/x2") }}

  {{ utils.form_field(form.range_increment, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="10", units="ft") }}

  <div class="form-group">
    <h4 class="control-label col-sm-3">
      <small>ARMOR FEATURES</small>
    </h4>
  </div>

  {{ utils.form_field(form.armor_type, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8)) }}

  {{ utils.form_field(form.body_slot, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8)) }}

  {{ utils.form_field(form.armor_bonus, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="5") }}

  {{ utils.form_field(form.max_dex_bonus, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="2") }}

  {{ utils.form_field(form.armor_check_penalty, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="-5") }}

  {{ utils.form_field(form.arcane_spell_failure, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="30", units="%") }}

  {{ utils.form_field(form.movement_speed, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="20", units="ft") }}


  <div class="form-group">
    <h4 class="control-label col-sm-3">
      <small>MISC. FEATURES</small>
    </h4>
  </div>

  <div class="modifier_fields">
    
      <div class="form-group {% if form.attribute_modifiers.errors %} has-error{% endif %}">
          <label class="control-label col-sm-3" for="attribute_modifiers-0-attribute">Attribute</label>
          <div class="col-sm-3">
            <input class="form-control" id="attribute_modifiers-0-attribute" name="attribute_modifiers-0-attribute" placeholder="spot" type="text" value="">
          </div>

          <label class="control-label col-sm-2" for="attribute_modifiers-0-modifier">Modifier</label>
          <div class="col-sm-2">
            <input class="form-control" id="attribute_modifiers-0-modifier" name="attribute_modifiers-0-modifier" placeholder="2" type="number" value="">
          </div>

          <button type="button" class="btn btn-success add_modifier_button">
            <span class="glyphicon glyphicon-plus"></span>
          </button>

          {% for entry in form.attribute_modifiers %}
            {{ utils.errors_for_field(entry.attribute, horizontal_columns=('sm',3,8), form_type="horizontal") }}
            {{ utils.errors_for_field(entry.modifier, horizontal_columns=('sm',3,8), form_type="horizontal") }}
          {% endfor %}
    </div>

    <!--More fields will go here-->

  </div>

  {{ utils.form_field(form.total_uses, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8)) }}

  {{ utils.form_field(form.description, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="The dagger is a common secondary weapon. You get a +2 bonus on Sleight of Hand checks made to conceal a dagger on your body (see the Sleight of Hand skill, page 81).") }}

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
      {{ form.submit(class="btn btn-primary btn-block") }}
    </div>
  </div>

</form>

{% endblock %}

{% block scripts %}

  {{ super() }}

  <script>

  $(document).ready(function() {

      var reference_wrapper = $(".reference_fields");
      var add_reference_button = $(".add_reference_button");
      var num_ref_fields = 1;

      $(add_reference_button).click(function(e){ //on add input button click
          e.preventDefault();
          if(num_ref_fields < 3){ //max input box allowed
              var field_group = $('<div class="form-group">');

              $('<label class="control-label col-sm-3" for="references-' + num_ref_fields + '-book">Book</label>').appendTo(field_group);
              var first_field = $('<div class="col-sm-4">');
              $('<input>').attr({class:'form-control',
                                id: 'references-' + num_ref_fields + '-book',
                                name: 'references-' + num_ref_fields + '-book',
                                type: 'text',
                                value: ''
                                }).appendTo(first_field);
              $(first_field).appendTo(field_group);

              $('<label class="control-label col-sm-1" for="references-' + num_ref_fields + '-page">Page</label>').appendTo(field_group);
              var second_field = $('<div class="col-sm-2">');
              $('<input>').attr({class:'form-control',
                                id: 'references-' + num_ref_fields + '-page',
                                name: 'references-' + num_ref_fields + '-page',
                                type: 'text',
                                value: ''
                                }).appendTo(second_field);
              $(second_field).appendTo(field_group);

              //remove button
              $(field_group).append('<button type="button" class="btn btn-default remove_reference_button"><span class="glyphicon glyphicon-remove"></span></button>');
              $(field_group).appendTo(reference_wrapper);              
              num_ref_fields++; //text box increment
          }
      });
      
      $(reference_wrapper).on("click", ".remove_reference_button", function(e){
        e.preventDefault(); 
        $(this).parent('div').remove(); 
        num_ref_fields--;
      });
      
      var damage_wrapper = $(".damage_fields");
      var add_damage_button = $(".add_damage_button");
      var num_dmg_fields = 1;

      $(add_damage_button).click(function(e){ //on add input button click
          e.preventDefault();
          if(num_dmg_fields < 6){ //max input box allowed
              var field_group = $('<div class="form-group">');

              $('<label class="control-label col-sm-3" for="damage-' + num_dmg_fields + '-amount">Damage</label>').appendTo(field_group);
              var first_field = $('<div class="col-sm-2">');
              $('<input>').attr({class:'form-control',
                                id: 'damage-' + num_dmg_fields + '-amount',
                                name: 'damage-' + num_dmg_fields + '-amount',
                                type: 'text',
                                value: ''
                                }).appendTo(first_field);
              $(first_field).appendTo(field_group);

              $('<label class="control-label col-sm-1" for="damage-' + num_dmg_fields + '-dmg_type">Type</label>').appendTo(field_group);
              var second_field = $('<div class="col-sm-4">');
              $('<input>').attr({class:'form-control',
                                id: 'damage-' + num_dmg_fields + '-dmg_type',
                                name: 'damage-' + num_dmg_fields + '-dmg_type',
                                type: 'text',
                                value: ''
                                }).appendTo(second_field);
              $(second_field).appendTo(field_group);

              //remove button
              $(field_group).append('<button type="button" class="btn btn-default remove_damage_button"><span class="glyphicon glyphicon-remove"></span></button>');
              $(field_group).appendTo(damage_wrapper);
              num_dmg_fields++; //text box increment
          }
      });
      
      $(damage_wrapper).on("click", ".remove_damage_button", function(e){
        e.preventDefault(); 
        $(this).parent('div').remove(); 
        num_dmg_fields--;
      });

      var modifier_wrapper = $(".modifier_fields");
      var add_modifier_button = $(".add_modifier_button");
      var num_mod_fields = 1;

      $(add_modifier_button).click(function(e){ //on add input button click
          e.preventDefault();
          if(num_mod_fields < 10){ //max input box allowed
              var field_group = $('<div class="form-group">');

              $('<label class="control-label col-sm-3" for="attribute_modifiers-' + num_mod_fields + '-attribute">Attribute</label>').appendTo(field_group);
              var first_field = $('<div class="col-sm-3">');
              $('<input>').attr({class:'form-control',
                                id: 'attribute_modifiers-' + num_mod_fields + '-attribute',
                                name: 'attribute_modifiers-' + num_mod_fields + '-attribute',
                                type: 'text',
                                value: ''
                                }).appendTo(first_field);
              $(first_field).appendTo(field_group);

              $('<label class="control-label col-sm-2" for="references-' + num_mod_fields + '-modifier">Modifier</label>').appendTo(field_group);
              var second_field = $('<div class="col-sm-2">');
              $('<input>').attr({class:'form-control',
                                id: 'attribute_modifiers-' + num_mod_fields + '-modifier',
                                name: 'attribute_modifiers-' + num_mod_fields + '-modifier',
                                type: 'number',
                                value: ''
                                }).appendTo(second_field);
              $(second_field).appendTo(field_group);

              //remove button
              $(field_group).append('<button type="button" class="btn btn-default remove_modifier_button"><span class="glyphicon glyphicon-remove"></span></button>');
              $(field_group).appendTo(modifier_wrapper);              
              num_mod_fields++; //text box increment
          }
      });
      
      $(modifier_wrapper).on("click", ".remove_modifier_button", function(e){
        e.preventDefault(); 
        $(this).parent('div').remove(); 
        num_mod_fields--;
      });


  });
  </script>

{% endblock %}
