{% extends "main.html" %}
{% import "macros.html" as utils %}

{% block page_content %}

<form class="form-horizontal" role="form" method="POST">
  {{ utils.form_field(form.name, form_type="horizontal", 
  horizontal_columns=('sm',3,8), ph="Dagger") }}

  {{ utils.form_field(form.weight, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="1", units="lbs") }}

  {{ utils.form_field(form.value, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="2", units="gp") }}

  {{ utils.form_field(form.reference, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="Player's Handbook I") }}

  <div class="form-group">
    <h4 class="control-label col-sm-3">
      <small>WEAPON FEATURES</small>
    </h4>
  </div>

  <div class="form-group">
    {{ form.weapon_types.label(class="control-label col-sm-3") }}
    <div class="col-offset-3 col-sm-3">
      {{ utils.form_field(form.weapon_types.unarmed, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.light, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.melee, form_type="inline") }}
    </div>
    <div class="col-offset-6 col-sm-3">
      {{ utils.form_field(form.weapon_types.one_handed, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.two_handed, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.ranged, form_type="inline") }}
    </div>
    <div class="col-offset-9 col-sm-3">
      {{ utils.form_field(form.weapon_types.simple, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.martial, form_type="inline") }}
      {{ utils.form_field(form.weapon_types.exotic, form_type="inline") }}
    </div>
  </div>
  
  <div class="form-group">
    {{ form.damage.label(class="control-label col-sm-3") }}
  </div>
  <div class="form-group">
    {% for entry in form.damage %}
        {{ utils.form_field(entry.dmg_type, form_type="horizontal", 
        horizontal_columns=('sm',5,3), ph="piercing") }}
        {{ utils.form_field(entry.amount, form_type="horizontal", 
        horizontal_columns=('sm',5,3), ph="1d4") }}
    {% endfor %}
  </div>

  {{ utils.form_field(form.critical, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="19-20/x2") }}

  {{ utils.form_field(form.range_increment, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="10", units="ft") }}

  <div class="form-group">
    <h4 class="control-label col-sm-3">
      <small>ARMOR FEATURES</small>
    </h4>
  </div>

  {{ utils.form_field(form.armor_type, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8)) }}

  {{ utils.form_field(form.body_slot, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8)) }}

  {{ utils.form_field(form.armor_bonus, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="5") }}

  {{ utils.form_field(form.max_dex_bonus, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="2") }}

  {{ utils.form_field(form.armor_check_penalty, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="-5") }}

  {{ utils.form_field(form.arcane_spell_failure, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="30", units="%") }}

  {{ utils.form_field(form.movement_speed, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="20", units="ft") }}

  <div class="form-group">
    <h4 class="control-label col-sm-3">
      <small>MISC. FEATURES</small>
    </h4>
  </div>

  {{ utils.form_field(form.total_uses, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8)) }}

  {{ utils.form_field(form.description, form_type="horizontal", 
  horizontal_columns=('sm', 3, 8), ph="The dagger is a common secondary weapon. You get a +2 bonus on Sleight of Hand checks made to conceal a dagger on your body (see the Sleight of Hand skill, page 81).") }}

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </div>

</form>




<br>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}">{{message}}</div>
    {% endfor %}
{% endif %}
{% endwith %}

{% endblock %}
